
    h1, h2{
        font-family: monospace;
        color:whitesmoke;
}
body{
    background-color: #343a40;
}
.home{
    height: 100vh;
    background-image: url("work.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        background-image: linear-gradient(rgba(134, 134, 134, 0.493), #343a40);
        background-size: cover;
        position: absolute;
}
.word{
    position: relative;
    display: flex;
    margin: 10px auto;
    padding-right: auto;
    padding-left: auto;
    justify-content: center;
    margin-top: 200px;
    
    /*margin-right: 40vw;*/
}
/* start button */ div#start{
    position: relative;
    font-size: 16px;
    font-size: 30px;
    font-weight: lightest;
    text-align: center;
    margin: 10vh auto;
   /* margin-right: auto; */
    width: 300px;
    padding: 10px;
    background-color: #f36957; 
}
    
    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #343a40;
      
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgb(238, 94, 38), rgb(55, 84, 134));
      
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgb(248, 104, 85), rgb(56, 61, 71))
      }

      .pre{
        justify-content: center;
        width: 90vw;
        height: 90px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        background-color:rgba(255, 255, 255, 0.801); 
        color:#343a40 !important;
        text-align: center;
    }
    .pre h2{
        color:#343a40 !important;
    }
